div{
  position: relative;
}
.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  
}
.house {
  width: 150px;
  height: 150px;
  background: coral;
 
  top: 20px;
  left: 65px;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    
    top: -290px;
    left: 28px;
    z-index: 2;
}
.chimney {
  width: 20px;
  height: 60px;
  background: black;
  
  left: 100px;
  top: -240px;
}
.door {
   width: 60px;
  height: 90px;
  background: brown;
  
   top: 210px;
   left: 80px;
   z-index: 2;
}
.window {
   width: 40px;
  height: 40px;
  background: cyan;
  
   top: 130px;
   left: 155px;
   z-index: 2;
}
  