div {
  position: absolute;
}
.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.house {
  width: 150px;
  height: 150px;
  background: coral;
  top: 150px;
  left: 75px;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    top: 50px;
    left: 40px;
}
.chimney {
  width: 20px;
  height: 60px;
  background: black;
  left: 100px;
  top: 40px;
}
.door {
   width: 60px;
  height: 90px;
  background: brown;
   top: 210px;
   left: 90px;
   z-index: 2;
}
.window {
   width: 40px;
  height: 40px;
  background: cyan;
   top: 220px;
   left: 165px;
   z-index: 2;
}
  